.main {
    background-color: #282D35;
    color: white;
    padding-left: 1.5em;
    padding-top:30px;
    height: 90vh;
}

.heading-text {
    font-size: 2.5em;
}

ul {
    line-height: 2.5em;
}

li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}